RewriteEngine On

# Redirige tout vers index.php sauf si le fichier ou dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

<IfModule mod_headers.c>
  Header always unset Access-Control-Allow-Origin
  Header always set Access-Control-Allow-Origin "https://azhemon.fr"
  Header always set Access-Control-Allow-Methods "GET, POST, PATCH, OPTIONS, PUT, DELETE"
  Header always set Access-Control-Allow-Headers "Content-Type, Authorization"
  Header always set Access-Control-Allow-Credentials "true"
</IfModule>


<IfModule mod_rewrite.c>
  RewriteEngine On
  # Si la méthode est OPTIONS, renvoie directement 200 OK
  RewriteCond %{REQUEST_METHOD} OPTIONS
  RewriteRule ^(.*)$ $1 [R=200,L]
</IfModule>

