<div class="preview-slot filled-slot">
  <img src="assets/public/images/sprites/{{POKEMON_SPRITE}}_face.png" 
    alt="{{POKEMON_SPRITE_ALT}}" class="preview-sprite">
  <div class="preview-info">
    <span class="preview-name">{{POKEMON_NAME}}</span>
    <div class="pokemon-types">
      <img src="assets/public/images/types/{{POKEMON_FIRST_TYPE}}.png" alt="{{POKEMON_FIRST_TYPE_ALT}}" class="type-icon">
      {{POKEMON_SECOND_TYPE}}
    </div>
  </div>
</div>